.main {
  background-color: #E5E5E5;
  min-height: 100vh;
  display: flex; 
}

.contenedor {
  margin: 0;
  padding: 0;
 
  
  
}

.img {
  margin-top: 40px;
  margin-left: 84px;
  display: block;
}

.caja1 {
  width: 100%;
  margin-left: 200px;
  margin-top: 50px;
}

.encriptarAqui {
  display: block;
  width: 70%;
  height: 200px;
  margin-bottom: 167px;
  border: none;
  background-color: #E5E5E5;
  color: #0A3871;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.btnEncriptar {
  width: 32%;
  height: 67px;
  margin-right: 35px;
  border-radius: 24px;
  background-color:  #0A3871;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #0A3871;
}

.btnDesencriptar {
  width: 32%;
  height: 67px;
  border-radius: 24px;
  border: 2px solid #0A3871;
  color: #0A3871
}

.caja2 {
  padding: 350px 30px 30px 30px;
  border-radius: 32px;
  margin: 40px 40px 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:  url(../public/Muñeco.png);
  background-repeat: no-repeat;
  background-color: #ffffff;
  
}
.caja2Click{
  background-color: #ffffff;
  border-radius: 32px;
  padding: 30px;
  margin: 40px 40px 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mensaje {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}
.mensaje:nth-child(2) {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
}

.encriptado {
  width: 97%;
  height: 400px;
  margin-bottom: 30px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #495057;
  
}

.btnCopiar {
  width: 97%;
  height: 67px;
  border-radius: 24px;
  border: 2px solid #0A3871;
  color: #0A3871
}

/* comportamiento de la pagina en tables */

@media screen and (max-width: 768px) {

  .main{
    flex-wrap: wrap;
    padding: 0 40px;
  }

  .caja1 {
    margin-left: 0;
    
  }

  .encriptarAqui {
    width: 100%;
  }

  .btnEncriptar {
    
    width: 48%;
    margin-right: 20px;
  }

  .btnDesencriptar {
    width: 48%;
  }

  .caja2 {
    background-image: none;
    margin-left: 0;
    padding: 30px;
  }

  .caja2Click {
    margin-left: 0;
  }

  .encriptado {
    height: 200px;
  }


}

@media screen and (max-width: 600px) {

  .encriptarAqui {
    margin-bottom: 50px;
    height: 300px;
  }

  .btnEncriptar {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .btnDesencriptar {
    width: 100%;
  }

  .encriptado {
    height: 300px;
  }

}


